// Grid settings
$enable-flex:           true;
$main-sm-columns:       12;
$sidebar-sm-columns:    4;

// Colors
//
// Override the color scheme found in 
// sage/bower_components/bootstrap/scss/_variables.scss
$brand-primary:         #444444;
$accent-color:			#4EC1E0;
$inverse-text-color:	#ffffff;

// Links
//
// Override the color scheme found in 
// sage/bower_components/bootstrap/scss/_variables.scss
$link-hover-color:      $accent-color;
$link-hover-decoration: none !default;
